POSTGRES_DB=eonet
POSTGRES_USER=eonet
POSTGRES_PASSWORD=change-me

EONET_STATUS=open
EONET_DAYS=30
EONET_LIMIT=50

USGS_MIN_MAGNITUDE=4.5
USGS_DAYS=30
USGS_LIMIT=500

WORKER_INTERVAL_SECONDS=900

PGADMIN_DEFAULT_EMAIL=admin@eonet.com
PGADMIN_DEFAULT_PASSWORD=change-me
